/* Conteneur principal de la galerie */
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Style des images des certifications */
.gallery .certif {
    width: 100%;
    /* Prend toute la largeur disponible dans sa cellule */
    height: 420px;
    /* Définit une hauteur fixe pour toutes les images */
    object-fit: cover;
    /* Fait en sorte que l'image remplisse l'espace sans déformation */
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.gallery .certif:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

/* Modale pour afficher l'image en grand */
#zoom-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s, visibility 0s linear 0.3s;
}

/* Afficher la modale */
#zoom-modal.visible {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.3s, visibility 0s linear 0s;
}

#zoom-modal img {
    max-width: 90%;
    max-height: 90%;
    border-radius: 10px;
    transition: transform 0.3s ease;
    transform-origin: center center;
    cursor: grab;
}

/* Quand l'image est en train d'être déplacée */
#zoom-modal img.grabbing {
    cursor: grabbing;
}

#zoom-modal .close {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 40px;
    color: white;
    cursor: pointer;
}

.hidden {
    display: none;
}

/* Empêcher le défilement du body quand la modale est ouverte */
.no-scroll {
    overflow: hidden;
}

/* Flèches de navigation */
.modal-arrow {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(150, 0, 0);
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    z-index: 1100;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Flèche gauche */
.modal-arrow.left {
    left: 10px;
    transform: translateY(-50%);
}

/* Flèche droite */
.modal-arrow.right {
    right: 10px;
    transform: translateY(-50%);
}

/* Card pour langages et outils */
.card-container {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    /* Espacement entre les cartes */
    flex-wrap: wrap;
    /* Permet aux cartes de se réorganiser sur plusieurs lignes si nécessaire */
    margin: 5rem;
}

.card {
    width: 10rem;
    /* Largeur de la carte */
    height: 10rem;
    /* Hauteur de la carte (égale à la largeur pour rendre la carte carrée) */
    padding: 15px;
    border-radius: 10px;
    /* Coins arrondis */
    text-align: center;
    /* Centrer le contenu de chaque carte */
    background-color: rgba(132, 132, 132, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    /* Centrer le contenu de la carte, comme une image ou du texte */
    transition: box-shadow 0.3s ease-in-out;
}

.card img {
    max-width: 100%;
    max-height: 100%;
    /* Les images ne dépassent pas la taille de la carte */
    object-fit: contain;
    /* Garder les proportions de l'image sans la déformer */
}

/* Ombre des cartes */
.html:hover {
    box-shadow: 0 0 10px 5px #f16529;
}

.css:hover {
    box-shadow: 0 0 10px 5px #2965f1;
}

.js:hover {
    box-shadow: 0 0 10px 5px #f7df1e;
}

.php:hover {
    box-shadow: 0 0 10px 5px #6181b6;
}

.python:hover {
    box-shadow: 0 0 10px 5px #ffce3e;
}

.c-sharp:hover {
    box-shadow: 0 0 10px 5px #1e9e25;
}

.mysql:hover {
    box-shadow: 0 0 10px 5px #00758f;
}

.vscode:hover {
    box-shadow: 0 0 10px 5px #3aa8f1;
}

.vs:hover {
    box-shadow: 0 0 10px 5px #b885f2;
}

.xampp:hover {
    box-shadow: 0 0 10px 5px #fb7a24;
}

.git:hover {
    box-shadow: 0 0 10px 5px #de4c36;
}

.github:hover {
    box-shadow: 0 0 10px 5px #161614;
}