/* Conteneur des détails du projet */
.projet-details {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    text-align: center;
    animation: fadeIn 0.5s ease-in-out;
}

/* Effet d'apparition */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Images du projet */
.projet-details img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease-in-out;
}

.title-container {
    display: flex;
    align-items: center;
    /* Aligne la flèche et le titre verticalement */
    justify-content: flex-start;
    /* Aligne à gauche */
    gap: 10px;
    /* Espacement entre la flèche et le titre */
}

/* Bouton de retour */
.back-button {
    cursor: pointer;
    transition: transform 0.2s ease;
    background: none;
    border: none;
    padding: 0;
}

.back-button:active {
    transform: scale(1);
}

.back-button:hover {
    transform: scale(1.25);
}

.back-icon {
    stroke: red;
    fill: none;
    width: 32px;
    height: 32px;
}